body {background-color: #FFDBDA;
    font-family: 'Poppins', sans-serif;
    text-align: left;}

.timelinetext1, .timelinetext2 {text-align: center;}

.rebrand1 {display: flex;
    float: left;
    padding: 25px;
    justify-content: space-between;}

.roseinfo {display: flex;
    justify-content: space-around}

.rose {display: flex;
    padding: 40px;}

.rosetext {display: flex;
    float: right;
    padding: 20px;
    justify-content: space-between;}

.rebrandtext{display: flex;
    float: right;
    padding: 20px;
    justify-content: space-between;}

.rebrandlist {display: flex;
    padding: 5px;
    justify-content: space-between;}

.mytarako, .mayo {
    justify-content: space-evenly;}

.homegroup {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}

.slideshowpics {text-align: center;}

.tiktokcaption {text-align: center;}

nav {font-family: 'Poppins', sans-serif;
    font-size: 25px;
    background-color: #9DA3A4;
    display: flex;
    justify-content: space-between;
    padding: 8px;}

.icon {display: block;
    float: right;}

header{font-family: 'Berkshire Swash', cursive;
    font-size: 45px;
    background-color: #9DA3A4;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    color: #604D53;}

nav a{color:#604D53;}

h1 {font-family:'Ms Madi', cursive;}
h2{font-family: 'Poppins', sans-serif;
    font-style: italic;
    text-align: center;}

.content, .content2, .content3, .content4, .homecontent {
    display: flex; 
    border: 5px; 
    padding: 2px;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;}

@media only screen and (max-width: 600px){
    nav {font-size: 25px;
        display: block;
        text-align: center;}

    nav a{size: 100%; 
        display: block; 
        padding: 15px;}

    nav span{display: none;}

    .content, .content2, .content3, .content4, .homecontent, .homegroup, .slideshowpics, .rebrand1 {
        padding: 0;
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%}

    .mytarako, .mayo, .illo1, .illo2, .illo3, .homegroup, .rose, .rebrandgroup {
        padding: 0;
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%
    }

    .tarakogroup {
        padding: 0;
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%}

    .icon {padding: 0;
        display: block;
        margin: 0 auto;
        height: 150px;
        width: 150px;
        float:none;}

    .hometext, .homelist, .rosetext, .timelinetext1, .timelinetext2, .rebrandtext, .rebrandlist {display: block;
        flex: 1;
        width: auto;
        height: auto;}
    }