body {background-color: #BDBDD7;}
body {color:#160040;}
a {color: #00454A;}
a:hover {color: #4C0070;}
a:visited {color:#3F0071;}

nav {background-color: #4ECCA3;}
nav a{color:#404B69;}
nav a:hover{background-color: #278EA5;}
nav {
    border: 10px;
    padding: 10px;
    margin-bottom: 30px;
}