body {background-color: #FFDBDA;
    font-family: 'Poppins', sans-serif;}
nav {font-family: 'Ms Madi', cursive;}
h1 {font-family:'Ms Madi', cursive;}
h2{font-family: 'Poppins', sans-serif;
    font-style: italic;}

.content, .content2 {display: flex; border: 2px; padding: 2px;}
